*{
  margin: 0;
}


.App {
  text-align: center;
}


 


.error{
  background-color: red;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: 400;
  height: 30%;
}